.DS_Store
/node_modules
/mongodb_data
/configs/configs.js
/logs/**/*.log
/logs/dumps/**/*.json
/logs/dumps/**/*.bson

# Let's Encrypt
/static/.well-known/*
!/static/.well-known/acme-challenge
/static/.well-known/acme-challenge/*
!/static/.well-known/acme-challenge/.gitkeep
