
<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{number}}. {{name}} さん</strong> 
                    <br>
                    <small>[{{timestamp}}]</small>
                </p>
                {{{comment}}}
            </div>
        </div>  
    </article>
</div>
