<!DOCTYPE HTML>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{{title}} - Fully Hatter の秘密の部屋</title>
        <link rel="icon" href="http://localhost:8128/images/icon/icon.png">
        <link rel="apple-touch-icon" href="../images/icon/icon.png">
    </head>
    <body>
        {{{body}}}
    </body>
</html>
