
// Import the initial variables of Bulma
@import "./node_modules/bulma/sass/utilities/initial-variables";
@import "./node_modules/bulma/sass/utilities/functions";


// Color Setting
$black: #000000;
$grey-dark: #1a1a1a;
$grey: #333333;
$grey-light: #4d4d4d;

.hero {
    background-image: url(/images/background-image.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $black;
}
$navbar-item-hover-background-color: $grey-dark;
body { background-color: $grey-dark; }
$background: $grey;
$border: $grey-light;

$title-color: $white;
$text: $white-bis;
$text-strong: $white;
$label-color: $white;
$link: #80aaff;
$orange: #ffb366;
$link-hover: $orange;

$box-background-color: transparent;
$box-shadow: 0 2px 3px rgba($white, 0.1), 0 0 0 1px rgba($white, 0.1);
$box-padding: 1rem;

$pagination-current-background-color: $white;
$pagination-current-border-color: $white;
$pagination-current-color: findColorInvert($white);
$pagination-color: $white;

$tabs-link-active-border-bottom-color: $orange;
$tabs-link-active-color: $orange;


// Font Setting
.title {
    font-family: "Cinzel Decorative", cursive;
    color: $white;
}
.orange-title {
    font-family: "Cinzel Decorative", cursive;
    color: $orange;
}
* { font-family: "Sawarabi Gothic"; }


// Import the rest of Bulma
@import "./node_modules/bulma/bulma";
