
// Import the initial variables of Bulma
@import "./node_modules/bulma/sass/utilities/initial-variables";
@import "./node_modules/bulma/sass/utilities/functions";


// Color Setting
$black: #000000;
$dark: #262626;
$grey: #404040;

.is-home {
    background-image: url(/background-image.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: $black;
}
.is-content { background-color: $black; }

$navbar-item-hover-background-color: $black;
body { background-color: $black; }
$background: $dark;
$border: $grey;

$title-color: $white;
$text: $white-bis;
$text-strong: $white;
$label-color: $white;
$link: #80aaff;
$red: #ff99c2;
$link-hover: $red;

$box-background-color: transparent;
$box-shadow: 0 2px 3px rgba($white, 0.1), 0 0 0 1px rgba($white, 0.1);
$box-padding: 1rem;

$pagination-current-background-color: $white;
$pagination-current-border-color: $white;
$pagination-current-color: findColorInvert($white);
$pagination-color: $white;

$tabs-link-active-border-bottom-color: $red;
$tabs-link-active-color: $red;


// Font Setting
.title {
    font-family: "Cinzel Decorative", cursive;
    color: $white;
}
.red-title {
    font-family: "Cinzel Decorative", cursive;
    color: $red;
}
* { font-family: "Sawarabi Gothic"; }


// Import the rest of Bulma
@import "./node_modules/bulma/bulma";
