
<!DOCTYPE HTML>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width+device-width">
        <meta name="theme-color" content="RoyalBlue">
        <link rel="icon" href="/images/icon/icon.png">
        
        <script type="text/javascript" src="//typesquare.com/accessor/script/typesquare.js?QywkW4Nex48%3D&fadein=10" charset="utf-8"></script>
        <style>
            body {
                background-color: #333333;
                color: white;
                font-family: "Hiragino Mincho W2 JIS2004";
            }
            a {
                color: #99FFFF;
            }
        </style>
        
        <title>{{title}} - Fully Hatter の秘密の部屋</title>
        <meta name="description" content={{description}}>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
