
// Color Setting
$black: #000000;
$grey-dark: #1a1a1a;
$grey: #333333;
$grey-light: #4d4d4d;
$background: $grey;
$border: $grey-light;

$title-color: $white;
$text: $white-bis;
$text-strong: $white;
$label-color: $white;
$link: #80aaff;
$red: #ff99c2;
$link-hover: $red;

$box-background-color: transparent;
$box-shadow: 0 2px 3px rgba($white, 0.1), 0 0 0 1px rgba($white, 0.1);
$box-padding: 1rem;

$pagination-current-background-color: $white;
$pagination-current-border-color: $white;
$pagination-current-color: findColorInvert($white);
$pagination-color: $white;

$tabs-link-active-border-bottom-color: $red;
$tabs-link-active-color: $red;


// Font Setting
.title {
    font-family: "Cinzel Decorative", cursive;
    color: $white;
}
.red-title {
    font-family: "Cinzel Decorative", cursive;
    color: $red;
}
* { font-family: "Sawarabi Gothic"; }
p, figcaption, .box { font-size: 14px; }
.table-width { width: 25%; }
