
// Color Setting
$grey-dark: #262626;
$grey: #404040;
$grey-light: #595959;
body { background-color: $grey-dark; }
$navbar-item-hover-background-color: $grey-dark;
$background: $grey;
$border: $grey-light;

$title-color: $white;
$text: $white-bis;
$text-strong: $white;
$label-color: $white;
$link: #80aaff;
$info: #ff99c2;
$link-hover: $info;

$box-background-color: transparent;
$box-shadow: 0 2px 3px rgba($white, 0.1), 0 0 0 1px rgba($white, 0.1);
$box-padding: 1rem;

$pagination-current-background-color: $white;
$pagination-current-border-color: $white;
$pagination-current-color: findColorInvert($white);
$pagination-color: $white;

$tabs-link-active-border-bottom-color: $info;
$tabs-link-active-color: $info;


// Font Setting
.title {
    font-family: "Cinzel Decorative", cursive;
    color: $white;
}
.orange-title {
    font-family: "Cinzel Decorative", cursive;
    color: $info;
}
* { font-family: "Sawarabi Gothic"; }
p, figcaption, .box { font-size: 14px; }
.table-width { width: 25%; }
