
/* Color Setting */
// initial variables
$grey-darker: #262626;
$grey-dark: #363636;
$grey: #404040;
$grey-light: #595959;
$link: #80aaff;  // blue
$info: #ff99c2;  // pink

// black
body { background-color: $grey-darker; }
$background: $grey;
$border: $grey-light;

// White
$title-color: $white;
$text: $white-bis;
$text-strong: $white;
$label-color: $white;

// pink
$link-hover: $info;


/* Font Setting */
.title {
    font-family: "Cinzel Decorative", cursive;
    color: $white;
}
.orange-title {
    font-family: "Cinzel Decorative", cursive;
    color: $info;
}
* { font-family: "Sawarabi Gothic"; }
p, figcaption, .box { font-size: 14px; }


/* Hero */
$navbar-item-hover-background-color: $grey-darker;


/* NavBar-bottom */
$navbar-background-color: $grey-dark;
$navbar-height: 3.5rem;
$navbar-item-color: $white-bis;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: $grey-darker;


/* Box */
$box-background-color: transparent;
$box-shadow: 0 2px 3px rgba($white, 0.1), 0 0 0 1px rgba($white, 0.1);
$box-padding: 1rem;


/* Pagination */
$pagination-current-background-color: $white;
$pagination-current-border-color: $white;
$pagination-current-color: findColorInvert($white);
$pagination-color: $white;


/* Tab */
$tabs-link-active-border-bottom-color: $info;
$tabs-link-active-color: $info;


/* Other Setting */
.tag { color: $grey-dark; }
