
.hero {
    background-image: url(/images/background-image.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: $grey-darker;
}

$modal-card-head-background-color: $grey-darker;
$modal-card-body-background-color: $grey-darker;
