
<div class="box" id="comment{{id}}">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{id}}. {{name}} さん</strong> 
                    <br>
                    <small>[{{timestamp}}]</small>
                </p>
                {{{comment}}}
            </div>
            <form method="post" action="{{urlPath}}">
                <button class="button is-small is-primary is-outlined is-rounded" name="id" value={{id}}>{{like}}</button>
            </form>
        </div>
    </article>
</div>
