<section class="section">
    <div class="container">
        <!-- SENT_MESSAGE -->
        {{#messageSent}}
        <div class="columns">
            <div class="column is-half">
                <div class="notification is-link is-light">
                    <a class="delete" href="/"></a>
                    {{#lan.ja}}Fully Hatter へメッセージを送信しました{{/lan.ja}}
                    {{#lan.en}}Sent a message to Fully Hatter{{/lan.en}}
                </div>
            </div>
        </div>
        {{/messageSent}}
        
        <!-- PRE_REGISTERED -->
        {{#registration.MAIL_SENT}}
        <div class="columns">
            <div class="column is-half">
                <div class="notification is-link is-light">
                    <a class="delete" href="/"></a>
                    {{email}} へ住人登録の確認メールを送付しました<br>
                    (確認メールが届かない方は迷惑メールボックスもご確認ください)
                </div>
            </div>
        </div>
        {{/registration.MAIL_SENT}}
        {{#registration.ALREADY_PRE_REGISTERED}}
        <div class="columns">
            <div class="column is-half">
                <div class="notification is-warning is-light">
                    <a class="delete" href="/"></a>
                    {{email}} にはすでに住人登録確認メールを送付しています<br>
                    (確認メールを再送したい方は、お手数ですが <strong><a onclick="openModal('messageModal')">こちら</a></strong> よりお問い合わせください)
                </div>
            </div>
        </div>
        {{/registration.ALREADY_PRE_REGISTERED}}
        {{#registration.ALREADY_REGISTERED}}
        <div class="columns">
            <div class="column is-half">
                <div class="notification is-primary is-light">
                    <a class="delete" href="/"></a>
                    {{email}} はすでに住人登録が完了しています
                </div>
            </div>
        </div>
        {{/registration.ALREADY_REGISTERED}}
        
        <!-- REGISTERED -->
        {{#registration.REGISTERED}}
        <div class="columns">
            <div class="column is-half">
                <div class="notification is-link">
                    <a class="delete" href="/"></a>
                    {{email}} の住人登録が完了しました
                </div>
            </div>
        </div>
        {{/registration.REGISTERED}}

        <p>
            {{#lan.ja}}
            秘密の部屋なのでこっそりのぞいてください。<br>
            <strong><a href="/world/your-goal">幸せ</a></strong> や <strong><a href="/world/freedom">自由</a></strong>、<strong><a href="/world/how-to-fail">人生</a></strong> について考えるあなたのためのページです。<br>
            <br>
            このサイトについては <strong><a onclick="openModal('aboutModal')">こちら</a></strong><br>
            Fully Hatter へのお問い合わせは <strong><a onclick="openModal('messageModal')">こちら</a></strong><br>
            <br>
            <strong>ふりまこのラジオ</strong> は <strong><a target="_blank" href="https://stand.fm/channels/601bcd5685b142d0d8011ab6">こちら</a></strong>
            {{/lan.ja}}
            {{#lan.en}}
            This website is for everyone who think seriously about <strong><a href="/en/world/how-to-fail">life</a></strong>, <strong><a href="/en/world/your-goal">happiness</a></strong> or <strong><a href="/en/world/freedom">freedom</a></strong>.<br>
            Any comments are welcome!<br>
            <br>
            Click <strong><a onclick="openModal('aboutModal')">here</a></strong> for the website policy.<br>
            Click <strong><a onclick="openModal('messageModal')">here</a></strong> for sending a message to Fully Hatter.
            {{/lan.en}}
        </p>

        {{#lan.ja}}
        <br>
        {{> residentRegistrationTemplate}}
        {{/lan.ja}}
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="title is-3">World</h2>
        <strong id="commentList">
            {{#lan.ja}}最近のコメント{{/lan.ja}}
            {{#lan.en}}Recent Comments{{/lan.en}}
        </strong>
        <div class="content is-small">
            <small>
                <table>
                    <thead>
                        <tr>
                            <th style="width:5%;">
                                {{#lan.ja}}日時{{/lan.ja}}
                                {{#lan.en}}date{{/lan.en}}
                            </th>
                            <th style="width:25%;">
                                {{#lan.ja}}ページ{{/lan.ja}}
                                {{#lan.en}}page{{/lan.en}}
                            </th>
                            <th style="width:20%;">
                                {{#lan.ja}}名前{{/lan.ja}}
                                {{#lan.en}}name{{/lan.en}}
                            </th>
                            <th>
                                {{#lan.ja}}コメント{{/lan.ja}}
                                {{#lan.en}}comment{{/lan.en}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#comments}}
                            <tr>
                                <td>{{date}}</td>
                                <td><a href={{urlPath}}>{{pageTitle}}</a></td>
                                <td>{{name}}</td>
                                <td>{{{excerptOfComment}}}</td>
                            </tr>
                        {{/comments}}
                    </tbody>
                </table>
            </small>
        </div>

        {{#commentListPagination}}
        <nav class="pagination is-small" role="navigation" aria-label="pagination">
            <ul class="pagination-list">
                <li>
                    <a class="pagination-link is-rounded" aria-label="go to previous page" href="{{#lan.en}}/en{{/lan.en}}/{{#previousPageNum}}?page={{previousPageNum}}{{/previousPageNum}}#commentList" {{disabledPrevious}}>Previous</a>
                </li>
                <li>
                    <a class="pagination-link is-current" aria-label="current page">{{pageNum}}/{{pageTotal}}</a>
                </li>
                <li>
                    <a class="pagination-link is-rounded" aria-label="go to next page" href="{{#lan.en}}/en{{/lan.en}}/?page={{nextPageNum}}#commentList" {{disabledNext}}>Next</a>
                </li>
            </ul>
        </nav>
        {{/commentListPagination}}

        <br>
        <br>
        <div class="columns">
            {{#world}}
                {{{headHTML}}}
                <div class="box">
                    {{#isNew}}
                    <span class="tag is-danger">{{isNew}}</span>
                    <br>
                    {{/isNew}}
                    {{#titleTag}}
                    <span class="tag {{color}}">{{text}}</span>
                    {{{linebreak}}}
                    {{/titleTag}}
                    <a href="{{#lan.en}}/en{{/lan.en}}{{urlPath}}">
                        {{title}}<br>
                        〜{{description}}〜
                    </a>
                    <br>
                    <span class="tag is-rounded">
                        {{#lan.ja}}コメント{{/lan.ja}}
                        {{#lan.en}}comments{{/lan.en}}
                        {{numOfComments}}
                    </span>
                </div>
                {{{footHTML}}}
            {{/world}}
        </div>

        {{#pickedUpComments}}
            <br>
            <br>
            <h3 class="title is-5" id="picked-up-comments">
                {{#lan.ja}}Fully Hatter のコメント{{/lan.ja}}
                {{#lan.en}}Picked Up Comments{{/lan.en}}
            </h3>
            <div class="columns">
                {{#commentsList}}
                    {{{headHTML}}}
                    <div class="box">
                        <a href="{{#lan.en}}/en{{/lan.en}}{{urlPath}}#comment{{commentNumber}}">
                            {{title}}<br>
                            ({{description}})
                        </a>
                        <br>
                    </div>
                    {{{footHTML}}}
                {{/commentsList}}
            </div>
        {{/pickedUpComments}}
    </div>
</section>

{{#lan.ja}}
<section class="section">
    <div class="container">
        <h2 class="title is-3">Story</h2>
        <p>「画像クリック」でそれぞれのお話が読めます。</p>
        <br>
        <br>
        <div class="columns">
            {{#story}}
                {{{headHTML}}}
                <figure class="image">
                    <a href="{{urlPath}}">
                        <img src="{{picturePath}}" alt="{{title}}">
                    </a>
                    <figcaption>
                        {{description}}
                        <br>
                        <span class="tag is-rounded">
                            {{#lan.ja}}いいね！{{/lan.ja}}
                            {{#lan.en}}like{{/lan.en}}
                            {{numOfLikes}}
                        </span>
                    </figcaption>
                </figure>
                <br>
                {{{footHTML}}}
            {{/story}}
        </div>
    </div>
</section>
{{/lan.ja}}

<section class="section">
    <div class="container">
        <h2 class="title is-4">
            {{#lan.ja}}Fully Hatter の本棚{{/lan.ja}}
            {{#lan.en}}Bookshelf{{/lan.en}}
        </h2>
        <p>
            {{#lan.ja}}
            Fully Hatterの人生を変えた本や映画などは <strong><a href="/bookshelf/books">こちら</a></strong>
            <br>
            掲示板は <strong><a href="/board">こちら</a></strong>
            {{/lan.ja}}
            {{#lan.en}}
            <!-- Click <strong><a href="/en/bookshelf/books">here</a></strong> for the bookshelf of Fully Hatter.
            <br> -->
            Click <strong><a href="/en/board">here</a></strong> for the board.
            {{/lan.en}}
        </p>
    </div>
</section>

<!-- About Modal page -->
<div id="aboutModal" class="modal">
    <div class="modal-background" onclick="closeModal('aboutModal')"></div>
    <button class="modal-close is-large" aria-label="close" onclick="closeModal('aboutModal')"></button>
    <div class="modal-content">
        <div class="content is-small">
            {{#lan.ja}}
            <h2>このサイトについて</h2>
            <h3>サイト・ポリシー</h3>
            <ul>
                <li>あなたの知らない世界を見せよう</li>
                <li>このサイトを見て悲しい気持ちになる人を、なるべく減らす努力をしよう</li>
                <li>すべてのページに Fully Hatter オリジナルな要素を盛り込もう</li>
                <li>専門知識がなくても理解できる内容にしよう</li>
            </ul>
            <h3>登場人物</h3>
            <p>
                <b>Fully Hatter</b><br>
                秘密の部屋の住人であり作者。存在自体が概念。<br>
                デジタル空間上の架空の人物であり、秘密の部屋の文章群を自動生成するプログラムでもある。<br>
                Twitter アカウントは <a target="_blank" href="https://twitter.com/furimako">こちら</a>
            </p>
            <p>
                <b>ふりまこ</b><br>
                Fully Hatter の日本名。<br>
                Twitterでは主にこちらの名前を使用。
            </p>
            {{/lan.ja}}
            {{#lan.en}}
            <h2>About this website</h2>
            <h3>Website Policy</h3>
            <ul>
                <li>show you the world you have not seen</li>
                <li>do my best to reduce the number of people who feel sad about this website</li>
                <li>include Fully Hatter's originality on every page</li>
                <li>make all pages simple so that you can understand without advanced knowledge</li>
            </ul>
            <h3>Fully Hatter</h3>
            <p>
                The creator of this website. He is a concept itself.<br>
                He is a fictional character in digital space, and is a computer program that automatically generates the sentences in this website.<br>
                Twitter account is <a target="_blank" href="https://twitter.com/furimako_en">here</a>.
            </p>
            {{/lan.en}}
        </div>
    </div>
</div>

<!-- Message Modal page -->
<div id="messageModal" class="modal">
    <div class="modal-background" onclick="closeModal('messageModal')"></div>
    <button class="modal-close is-large" aria-label="close" onclick="closeModal('messageModal')"></button>
    <div class="modal-content">
        <h2 class="title is-5">
            {{#lan.ja}}Fully Hatter へのお問い合わせ{{/lan.ja}}
            {{#lan.en}}Message to Fully Hatter{{/lan.en}}
        </h2>
        <p>
            {{#lan.ja}}
            お問い合わせ、お仕事依頼、応援メッセージ、苦情などなんでもどうぞ。<br>
            プライバシーは最大限に尊重します。<br>
            ※URLリンクは貼り付けないでください (スパムと判定されてしまうため)<br>
            <br>
            (住人登録の確認メールが届かない方、メールを再送したい方はメールアドレスをご記載ください)
            {{/lan.ja}}
            {{#lan.en}}
            You can send a message to Fully Hatter.
            {{/lan.en}}
        </p>
        <form id="message-form" method="post" action="/post/fmessage">
            <input type="hidden" name="lan" value={{#lan.ja}}"ja"{{/lan.ja}}{{#lan.en}}"en"{{/lan.en}}>
            <div class="field">
                <div class="control is-small">
                    <textarea class="textarea" name="message" placeholder="{{#lan.ja}}返事が欲しい方はお名前とメールアドレスをご記載ください{{/lan.ja}}{{#lan.en}}Tell me your name and e-mail address if you would like to get a reply from Fully Hatter.{{/lan.en}}" maxlength="2000" required></textarea>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary g-recaptcha" data-sitekey="6LfxYSQkAAAAAOuG7XpQzmkVxQ2rQIZi1RjH6g0n" data-callback="messageOnSubmit">
                        {{#lan.ja}}送信{{/lan.ja}}{{#lan.en}}send{{/lan.en}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function messageOnSubmit(token) {
        document.getElementById("message-form").submit();
    }
</script>
