
<!-- JavaScript for modal -->
<script>
    function openModal() {
        var element = document.getElementById('modal');
        element.setAttribute('class', 'modal is-active');
    }
    function closeModal() {
        var element = document.getElementById('modal');
        element.setAttribute('class', 'modal');
    }
</script>

<!-- modal -->
<div id="modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <h2 class="modal-card-title">このサイトについて</h2>
            <button class="delete" aria-label="close" onclick="closeModal()"></button>
        </header>
        <section class="modal-card-body">
            <div class="content is-small">
                <ul>
                    <li>あなたの知らない世界を見せよう</li>
                    <li>このサイトを見て悲しい気持ちになる人を、なるべく減らす努力をしよう</li>
                    <li>すべてのページに Fully Hatter オリジナルな要素を盛り込もう</li>
                    <li>専門知識がなくても理解できる内容にしよう</li>
                </ul>
                <h3>登場人物</h3>
                <h4>Fully Hatter</h4>
                <p>
                    秘密の部屋の作者。人間という枠を超越した者。<br>
                    存在自体が概念。
                </p>
                <h4>ふりまこ</h4>
                <p>
                    Fully Hatter の友達の友達。デジタル空間上の架空の人物。<br>
                    Twitter で変なことを呟くのが趣味。<br>
                    Twitter アカウントは <a target="_blank" href="https://twitter.com/furimako">こちら</a>。
                </p>
            </div>
        </section>
    </div>
</div>

<!-- content -->
<section class="section">
    <div class="container">
        <p>
            秘密の部屋なのでこっそりのぞいてください。<br>
            <br>
            <strong><a href="/world/your-goal">幸せ</a></strong> や <strong><a href="/world/freedom">自由</a></strong>、<strong><a href="/world/how-to-fail">人生</a></strong> について考えるあなたのためのページです。<br>
            このサイトについては <strong><a onclick="openModal()">こちら</a></strong>。
        </p>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="title is-4">Fully Hatter の頭の中</h2>
        <h3 class="title is-6" id="commentList">最近のコメント</h3>
        <div class="content is-small">
            <small>
                <table>
                    <thead>
                        <tr>
                            <th style="width:5%;">日時</th>
                            <th style="width:25%;">ページ</th>
                            <th style="width:20%;">名前</th>
                            <th>コメント</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#comments}}
                            <tr>
                                <td>{{date}}</td>
                                <td><a href={{urlPath}}>{{pageTitle}}</a></td>
                                <td>{{name}}</td>
                                <td>{{{excerptOfComment}}}</td>
                            </tr>
                        {{/comments}}
                    </tbody>
                </table>
            </small>
        </div>
        <nav class="pagination is-right" role="navigation" aria-label="pagination">
            <ul class="pagination-list">
                <li>
                    <small>
                        <a class="pagination-link {{is-current-5}}" href="/?numOfComments=5#commentList">5件</a>
                    </small>
                </li>
                <li>
                    <small>
                        <a class="pagination-link {{is-current-10}}" href="/?numOfComments=10#commentList">10件</a>
                    </small>
                </li>
                <li>
                    <small>
                        <a class="pagination-link {{is-current-20}}" href="/?numOfComments=20#commentList">20件</a>
                    </small>
                </li>
            </ul>
        </nav>
        <br>
        <br>
        <div class="columns">
            {{#world}}
                {{{headHTML}}}
                <div class="box">
                    {{{newTag}}}
                    <a href={{urlPath}}>{{title}}　〜{{description}}〜</a>
                    <br>
                    <span class="tag is-rounded">{{like}}</span>
                    <span class="tag is-rounded">{{comment}}</span>
                </div>
                {{{footHTML}}}
            {{/world}}
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="title is-3">Story</h2>
        <p>「画像クリック」でそれぞれのお話が読めます。</p>
        <br>
        <br>
        <div class="columns">
            {{#story}}
                {{{headHTML}}}
                <figure class="image">
                    <a href={{urlPath}}>
                        <img src="{{picturePath}}" alt={{title}}>
                    </a>
                    <figcaption>
                        {{description}}
                        <br>
                        <span class="tag is-rounded">{{like}}</span>
                    </figcaption>
                </figure>
                <br>
                {{{footHTML}}}
            {{/story}}
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="title is-4">Fully Hatter の本棚</h2>
        <p>
            Fully Hatterの人生を変えた本や映画などは <strong><a href="/bookshelf/books">こちら</a></strong>。
            <br>
            掲示板は <strong><a href="/board">こちら</a></strong>。
        </p>
    </div>
</section>
