
<nav class="navbar is-transparent is-fixed-bottom" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            {{{likeButton}}}
        </div>

        {{{commentHTML}}}

        <a class="navbar-item" href="/">Home</a>
    </div>
</nav>
