<hr>
<section class="section">
    <div class="container">
        {{#tags}}
        <h2 class="title is-5" id="{{tagId}}">「{{tagName}}」に関連するページ</h2>
        <div class="columns">
            {{#targets}}
            {{{headHTML}}}
            <div class="box">
                <a href="{{urlPath}}">{{title}}　〜{{description}}〜</a>
            </div>
            {{{footHTML}}}
            {{/targets}}
        </div>
        {{/tags}}
        <h2 class="title is-5">その他</h2>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <a href="http://amex.jp/share/jaSY1?CPID=100341017">
                        [広告] Fully Hatter愛用中の American Express クレジットカードのご紹介。このリンクから申し込むことで最大 17,000円相当のポイントを取得できます！ これがアメックスを始める最もお得な手段です。
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <a href="https://m.do.co/c/9b2bd756e7ab">
                        [広告] この「秘密の部屋」は DigitalOcean でホスティングしています。個人用サーバーなら AWS より DigitalOcean です。このリンクから DigitalOcean に登録した方にはもれなく $100 をプレゼント！
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
