<div class="columns">
    <div class="column is-half">
        <div class="box">
            <form method="post" action="/post/register">
                <input type="hidden" name="key" value="furimako">
                <div class="field">
                    <label class="label is-small">
                        現在「秘密の部屋の住人 (メルマガ会員)」募集中！<br>
                        『答えのない問い』をテーマに、Fully Hatter が日頃考えていることを定期的にお届けします。<br>
                    </label>
                    <div class="control is-small" style="width: 250px;">
                        <input class="input is-small" type="email" name="email" placeholder="sample@domain.com" maxlength="50" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-small is-primary">住人登録確認メールを受け取る</button>
                    </div>
                    <p class="help">
                        <br>
                        過去のアーカイブは <strong><a href="https://note.com/fully_hatter">こちら</a></strong><br>
                        (<strong><a onclick="openModal('TOSModal')">利用規約</a></strong> と <strong><a onclick="openModal('privacyPolicyModal')">プライバシーポリシー</a></strong> をご確認ください)
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
