<div class="columns">
    <!-- <div class="column is-half">
        <style>
            .standfm-embed-iframe { height: 260px; }
            @media only screen and (max-device-width: 480px)
            { .standfm-embed-iframe { height: 260px; } }
        </style>
        <iframe src="https://stand.fm/embed/channels/601bcd5685b142d0d8011ab6" class="standfm-embed-iframe" width="100%" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div> -->
    <div class="column is-half">
        <div class="box">
            <form method="post" action="/post/fregister">
                <div class="field">
                    <label class="label is-small">
                        以下より「秘密の部屋の住人 (メルマガ会員)」になれます。<br>
                        Fully Hatter が不定期でお手紙をお送りします。<br>
                        [現在の住人数: {{numOfResidents}}人]<br>
                    </label>
                    <div class="control is-small" style="width: 250px;">
                        <input class="input is-small" type="email" name="email" placeholder="sample@domain.com" maxlength="50" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-small is-primary">住人登録確認メールを受け取る</button>
                    </div>
                    <p class="help">
                        <strong><a onclick="openModal('TOSModal')">利用規約</a></strong> と <strong><a onclick="openModal('privacyPolicyModal')">プライバシーポリシー</a></strong> を確認ください
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
