<!-- Twitter follow -->
<div class="level-item">
    <a href="https://twitter.com/furimako{{#lan.en}}_en{{/lan.en}}?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="true">Follow @furimako{{#lan.en}}_en{{/lan.en}}</a>
</div>

<!-- Twitter tweet -->
<div class="level-item">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="{{title}}&#010;&#010;- {{#lan.ja}}Fully Hatter の秘密の部屋{{/lan.ja}}{{#lan.en}}Fully Hatter and the Chamber of Secrets{{/lan.en}} -&#010;" data-url="https://furimako.com{{#lan.en}}/en{{/lan.en}}{{urlPath}}" data-show-count="true">Tweet</a>
</div>

<!-- LINE share -->
{{#lan.ja}}
<div class="level-item">
    <div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="https://furimako.com{{#lan.en}}/en{{/lan.en}}{{urlPath}}" data-color="default" data-size="small" data-count="false" style="display: none;"></div>
</div>
{{/lan.ja}}
