
<!DOCTYPE HTML>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103228670-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){ dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-103228670-1');
    </script>

    <!-- OGP -->
    <meta property="og:title" content="{{title}} - Fully Hatter の秘密の部屋">
    <meta property="og:type" content="article">
    <meta property="og:url" content={{url}}>
    <meta property="og:image" content="http://furimako.com/images/background-image-og.jpg">
    <meta property="og:image:type" content="image/jpeg" />
    <!-- <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" /> -->
    <meta property="og:image:alt" content="Fully Hatter の秘密の部屋のイメージ" />
    <meta property="og:description" content={{description}}>
    <meta property="og:locale" content="ja_JP">
    <meta property="og:site_name" content="Fully Hatter の秘密の部屋">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@FullyHatter">
    <meta name="twitter:creator" content="@FullyHatter">
    <meta property="fb:app_id" content="1649170041836572">

    <!-- Other settings -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content= {{description}}>
    <title>{{title}} - Fully Hatter の秘密の部屋</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900">
    <link rel="stylesheet" href={{cssPath}}>
    <!-- icon size should be larger than 192 x 192 -->
    <link rel="icon" href="/images/icon/favicon_192x192.png">
</head>

<body>
    <header>
        <section class="hero">
            <div class="hero-head">
                <nav class="navbar is-pulled-right" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <p class="title is-5">
                                <span class="orange-title">F</span>ully <span class="orange-title">H</span>atter の秘密の部屋
                            </p>
                        </a>
                    </div>
                </nav>
            </div>
            <div class="hero-body">
                <div class="container">
                    {{{newTag}}}
                    <h1 class="title is-4">{{title}}</h1>
                    {{{likeButton}}}
                </div>
            </div>
        </section>
    </header>
    {{{paginationHTML}}}
    {{{bodyHTML}}}
    {{{paginationHTML}}}
    {{{commentsFieldHTML}}}
    <footer class="footer">
        <div class="container">
            <p>
                <a href="/" class="button is-small">トップページへ戻る</a>
                <br>
                <br>
            </p>
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <p class="title is-5">
                            <span class="orange-title">F</span>ully <span class="orange-title">H</span>atter の秘密の部屋
                        </p>
                    </div>
                    <div class="level-item">
                        <iframe
                            src="https://platform.twitter.com/widgets/follow_button.html?screen_name=FullyHatter"
                            title="Follow FullyHatter on Twitter"
                            width="250"
                            height="40"
                            style="border: 0; overflow: hidden;">
                        </iframe>
                    </div>
                </div>
            </div>
            <p>
                <small>
                    テキストは引用部分以外すべて著作権を放棄しています。
                    <br>
                    コピペ、盗用などご自由にどうぞ！
                    <br>
                    <br>
                    This website is made with 
                    <a target="_blank" href="https://nodejs.org">Node.js</a>, 
                    <a target="_blank" href="https://www.mongodb.com/">mongoDB</a>, 
                    <a target="_blank" href="https://bulma.io/">Bulma</a>, 
                    <a target="_blank" href="https://github.com/janl/mustache.js">mustache.js</a>
                    and <a target="_blank" href="https://www.pakutaso.com/">ぱくたそ</a>.
                    <br>
                    このサイトのソースコードは <a target="_blank" href="https://github.com/FullyHatter/fully-hatter"><strong>こちら</strong></a>。
                    <br>
                    <br>
                    Fully Hatterの連絡先: furimako@gmail.com
                </small>
            </p>
        </div>
    </footer>
</body>
</html>
