
<!DOCTYPE HTML>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href={{cssPath}}>

    <meta name="description" content= {{description}}>
    
    <!-- icon size should be larger than 192 x 192 -->
    <link rel="icon" href="/images/icon/favicon.png">
    <title>{{title}} - Fully Hatter の秘密の部屋</title>
</head>

<body>
    <header>
        <section class="hero">
            <div class="hero-head">
                <nav class="navbar is-pulled-right" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <div class="title is-5"><span class="red-title">F</span>ully <span class="red-title">H</span>atter の秘密の部屋</div>
                        </a>
                    </div>
                </nav>
            </div>
            <div class="hero-body">
                <div class="container">
                    <h1 class="title is-3">{{title}}</h1>
                </div>
            </div>
        </section>
    </header>
    {{{pagination}}}
    {{{body}}}
    {{{pagination}}}
    {{{comments}}}
    <footer class="footer">
        <section class="section">
            <div class="container">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <a href="/">
                                <div class="title is-6"><span class="red-title">F</span>ully <span class="red-title">H</span>atter の秘密の部屋</div>
                            </a>
                        </div>
                        <div class="level-item">
                            <iframe
                                src="https://platform.twitter.com/widgets/follow_button.html?screen_name=FullyHatter"
                                title="Follow FullyHatter on Twitter"
                                width="250"
                                height="40"
                                style="border: 0; overflow: hidden;">
                            </iframe>
                        </div>
                    </div>
                </div>
                <p>
                    <small>
                        テキストは引用部分以外すべて著作権を放棄しています。コピペ、盗用などご自由にどうぞ！
                        <br>
                        このサイトのソースコードは <a target="_blank" href="https://github.com/FullyHatter/fully-hatter"><strong>こちら</strong></a>。
                    </small>
                </p>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <p>
                    <small>
                        This website is made with 
                        <a target="_blank" href="https://nodejs.org">Node.js</a>, 
                        <a target="_blank" href="https://www.mongodb.com/">mongoDB</a>, 
                        <a target="_blank" href="https://bulma.io/">Bulma</a>, 
                        <a target="_blank" href="https://github.com/janl/mustache.js">mustache.js</a>, 
                        <a target="_blank" href="https://icons8.com/">Icons8</a>
                        and <a target="_blank" href="https://www.pakutaso.com/">ぱくたそ</a>.
                    </small>
                    <br>
                    <br>
                </p>
                <a target="_blank" href="https://bulma.io"><img src="/images/icon/bulma.png" alt="Made with Bulma" width="128" height="24"></a>
            </div>
        </section>
    </footer>
</body>
</html>
