<!DOCTYPE HTML>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103228670-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){ dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-103228670-1');
    </script>
    
    <!-- Google AdSense -->
    <script data-ad-client="ca-pub-4016317029201296" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    
    <!-- Twitter -->
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
    <!-- LINE -->
    <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
    
    <!-- OGP -->
    <meta property="og:title" content="{{title}} | {{#lan.ja}}Fully Hatter の秘密の部屋{{/lan.ja}}{{#lan.en}}Fully Hatter and the Chamber of Secrets{{/lan.en}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{url}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:image" content="http://furimako.com/images/background-image-og.jpg">
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:alt" content="{{#lan.ja}}Fully Hatter の秘密の部屋のイメージ{{/lan.ja}}{{#lan.en}}the image of the Chamber{{/lan.en}}" />
    <meta property="og:locale" content="ja_JP">
    <meta property="og:site_name" content="{{#lan.ja}}Fully Hatter の秘密の部屋{{/lan.ja}}{{#lan.en}}Fully Hatter and the Chamber of Secrets{{/lan.en}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@furimako">
    <meta name="twitter:creator" content="@furimako">
    <meta property="fb:app_id" content="1649170041836572">

    <!-- Other settings -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{description}}">
    <title>
        {{title}} | {{#lan.ja}}Fully Hatter の秘密の部屋{{/lan.ja}}{{#lan.en}}Fully Hatter and the Chamber of Secrets{{/lan.en}}
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900">
    <link rel="stylesheet" href="{{cssPath}}">
    <!-- icon size should be larger than 192 x 192 -->
    <link rel="icon" href="/images/icons/favicon_192x192.png">
    {{#isMultilingual}}
    <link rel="alternate" hreflang="ja" href="https://furimako.com{{urlPath}}" />
    <link rel="alternate" hreflang="en" href="https://furimako.com/en{{urlPath}}" />
    <link rel="alternate" hreflang="x-default" href="https://furimako.com/en{{urlPath}}" />
    {{/isMultilingual}}
    <script src="/js/client.js"></script>
</head>

<body>
    <header>
        <section class="hero">
            <div class="hero-head">
                <nav class="navbar is-pulled-right" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/{{#lan.en}}en/{{/lan.en}}">
                            {{#lan.ja}}
                            <p class="title is-5">
                                <span class="orange-title">F</span>ully <span class="orange-title">H</span>atter の秘密の部屋
                            </p>
                            {{/lan.ja}}
                            {{#lan.en}}
                            <p class="title is-6">
                                <span class="orange-title">F</span>ully <span class="orange-title">H</span>atter<br>　and the Chamber of Secrets
                            </p>
                            {{/lan.en}}
                        </a>
                    </div>
                </nav>
            </div>
            <div class="hero-body">
                <div class="container">
                    {{#isNew}}
                    <span class="tag is-danger">New!</span><br><br>
                    {{/isNew}}
                    <h1 class="title is-4">{{title}}</h1>
                    {{#titleWithDescription}}
                    <div class="subtitle is-6">〜{{description}}〜</div>
                    {{/titleWithDescription}}
                </div>
            </div>
            <div class="hero-foot">
                <div class="container">
                    <div class="level">
                        <div class="level-left">
                            {{#keywordTag}}
                            <div class="level-item">
                                <div class="buttons has-addons">
                                    {{#tagItems}}
                                    <a class="button is-small is-info is-outlined" href="#{{tagId}}">{{tagName}}</a>
                                    {{/tagItems}}
                                </div>
                            </div>
                            {{/keywordTag}}
                            {{#likeButton}}
                            <div class="level-item">
                                <form method="post" action="/post/like">
                                    <input type="hidden" name="key" value="furimako">
                                    <input type="hidden" name="lan" value={{#lan.ja}}"ja"{{/lan.ja}}{{#lan.en}}"en"{{/lan.en}}>
                                    <button class="button is-small is-primary is-outlined is-rounded" name="urlPath" value="{{urlPath}}">
                                        {{likeStr}} {{likeCount}}
                                    </button>
                                </form>
                            </div>
                            {{/likeButton}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <div class="container">
        <div class="level">
            <div class="level-left">
            </div>
            <div class="level-right">
                <!-- Twitter follow -->
                <div class="level-item">
                    <a href="https://twitter.com/furimako{{#lan.en}}_en{{/lan.en}}?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="true">Follow @furimako{{#lan.en}}_en{{/lan.en}}</a>
                </div>
                <div class="level-item">
                    <small>
                        {{#lan.ja}}
                        Japanese | <a href={{#isMultilingual}}"/en{{urlPath}}"{{/isMultilingual}}{{^isMultilingual}}"/en/"{{/isMultilingual}}>English</a>
                        {{/lan.ja}}
                        {{#lan.en}}
                        <a href={{#isMultilingual}}"{{urlPath}}"{{/isMultilingual}}{{^isMultilingual}}"/"{{/isMultilingual}}>Japanese</a> | English
                        {{/lan.en}}
                    </small>
                </div>
                
            </div>
        </div>
    </div>
    {{{paginationHTML}}}
    {{{bodyHTML}}}
    {{{paginationHTML}}}
    
    {{#needToBeShared}}
    <hr>
    <section class="section">
        <div class="container">
            <div class="content is-small">
                {{#lan.ja}}
                <p>この主張に賛同する方は、家族や友人に LINE でシェアしたり、SNS に流してみましょう。</p>
                <p>
                    <b>キング牧師</b><br>
                    最大の悲劇は、悪人の圧制や残酷さではなく、善人の沈黙である。
                </p>
                {{/lan.ja}}
                {{#lan.en}}
                <p>If you agree with it, send it to a friend or share it on SNS!</p>
                <p>
                    <b>Martin Luther King, Jr.</b><br>
                    "The ultimate tragedy is not the oppression and cruelty by the bad people but the silence over that by the good people."
                </p>
                {{/lan.en}}
            </div>
            <div class="level is-mobile">
                <div class="level-left">
                    <!-- LINE share -->
                    {{#lan.ja}}
                    <div class="level-item">
                        <div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="https://furimako.com{{#lan.en}}/en{{/lan.en}}{{urlPath}}" data-color="default" data-size="small" data-count="false" style="display: none;"></div>
                    </div>
                    {{/lan.ja}}
                    
                    <!-- Twitter tweet -->
                    <div class="level-item">
                        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="{{description}}&#010;&#010;- {{#lan.ja}}Fully Hatter の秘密の部屋{{/lan.ja}}{{#lan.en}}Fully Hatter and the Chamber of Secrets{{/lan.en}} -" data-url="https://furimako.com{{#lan.en}}/en{{/lan.en}}{{urlPath}}" data-show-count="true">Tweet</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{/needToBeShared}}
    
    {{{relatedPages}}}
    {{{commentsFieldHTML}}}
    {{{relatedPages2}}}
    <footer class="footer">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        {{#lan.ja}}
                        <p class="title is-5">
                            <span class="orange-title">F</span>ully <span class="orange-title">H</span>atter の秘密の部屋
                        </p>
                        {{/lan.ja}}
                        {{#lan.en}}
                        <p class="title is-6">
                            <span class="orange-title">F</span>ully <span class="orange-title">H</span>atter<br>and the Chamber of Secrets
                        </p>
                        {{/lan.en}}
                    </div>
                    
                    <!-- Twitter follow -->
                    <div class="level-item">
                        <a href="https://twitter.com/furimako{{#lan.en}}_en{{/lan.en}}?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="true">Follow @furimako{{#lan.en}}_en{{/lan.en}}</a>
                    </div>
                </div>
            </div>
            <p>
                <small>
                    {{#lan.ja}}
                    テキストは引用部分以外すべて著作権を放棄しています。<br>
                    コピペ、盗用などご自由にどうぞ！<br>
                    このサイトのソースコードは <a target="_blank" href="https://github.com/furimako/node-cms"><strong>こちら</strong></a>。<br>
                    <br>
                    {{/lan.ja}}
                    {{#lan.en}}
                    Click <a target="_blank" href="https://github.com/furimako/node-cms"><strong>here</strong></a> for the source code (GitHub repository) of this website.<br>
                    {{/lan.en}}
                    This website is made with
                    <a target="_blank" href="https://m.do.co/c/9b2bd756e7ab">DigitalOcean</a>,
                    <a target="_blank" href="https://www.ubuntu.com/">Ubuntu</a>,
                    <a target="_blank" href="https://nodejs.org">Node.js</a>,
                    <a target="_blank" href="https://www.mongodb.com/">MongoDB</a>,
                    <a target="_blank" href="https://bulma.io/">Bulma</a>
                    and <a target="_blank" href="https://www.pakutaso.com/">ぱくたそ</a>.
                </small>
            </p>
        </div>
    </footer>
    {{#navbar}}
    <nav class="navbar is-transparent is-fixed-bottom" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-item">
                <a class="button is-small is-info is-outlined" href="/{{#lan.en}}en/{{/lan.en}}">
                    {{#lan.ja}}Home へ戻る{{/lan.ja}}
                    {{#lan.en}}Home{{/lan.en}}
                </a>
            </div>
            {{#hasComments}}
            <a class="navbar-item" href="#comments-field">
                {{#lan.ja}}コメントする{{/lan.ja}}
                {{#lan.en}}comment{{/lan.en}}
            </a>
            {{/hasComments}}
        </div>
    </nav>
    {{/navbar}}
</body>
</html>
